@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4f5;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.nav-container {
  position: fixed;
  top: 0;
  width: 100vw;
  min-width: 320px;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e5e4;
  font-size: 12px;
  background-color: #f5f5f4;
}

.nav-left {
  font-size: 1rem;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: 600;
}

.nav-left svg {
  font-size: 1rem;
  color: #eab308;
  margin-right: 5px;
  border-bottom: 1px solid #eab308;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-right-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-right-links a:last-child {
  background-color: #eab308;
  padding: 5px 10px;
  border-radius: 8px;
  margin-right: 20px;
}

.nav-right-links a {
  margin-right: 20px;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logout-button {
  margin-right: 20px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logout-button svg {
  margin-right: 5px;
  font-size: 16px;
  color: #eab308;
}

.register-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.register-inner-container {
  width: 100%;
  max-width: 400px;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}

.login-inner-container {
  width: 100%;
  max-width: 400px;

}


.form-title {
  text-align: center;
}

.form-title p {
  font-size: 14px;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form-item label {
  font-size: 12px;
  font-weight: 500;
}

.form-item input {
  width: 100%;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  background-color: #e5e7eb;
}

.form-item button {
  border: none;
  border-radius: 6px;
  padding: 8px 15px;
  background-color: #eab308;
}

.form-bottom {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 0.75rem;
}

.error-message{ 
  text-align: center;
  color: #dc2626;
}

.dashboard-container {
  display: flex;
  justify-content: center;
}

.dashboard-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notes-container {
  width: 100vw;
  max-width: 600px;
  margin: 66.7px 0;
  padding: 0 1.5rem;
  height: fit-content;
  align-self: flex-start;
  justify-self: flex-start;
  background-color: #f4f4f5;
}

.notes-container input {
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #e5e7eb;
}

.notes-list {
  min-width: 20vw;
  padding: 0 1rem;
  border-radius: 8px;
  background-color: #fafafa;
}

.list-item-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e7eb;
}

.list-item-group button {
  background-color: #fafafa;
  border: none;
}

.notes-list-item {
  width: 100%;
  padding: 1rem;
}

.note-title {
  font-weight: 500;
}

.note-text {
  font-size: 0.8rem;
  color: #71717a;
}

.note-date {
  padding-right: 0.5rem;
}

.note-main-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.note-container {
  width: 100vw;
  max-width: 600px;
  height: 100vh;
  margin: 20px 0px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f5;
}

.note-container button {
  font-size: 1rem;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #eab308;
  margin-bottom: 10px;
  border: none;
  background-color: #f4f4f5;
  padding: 0;
}

.note-container button svg {
  font-size: 1rem;
  margin-left: 20px;
  color: #eab308;
  padding-right: 5px;
}

.note-container .note-title {
  border: none;
  background-color: #f4f4f5;
  font-size: 1.25rem;
  margin-top: 10px;
  outline: none;
  padding: 0 24px;
}

.note-title::placeholder {
  color: #d4d4d4;
  font-size: 1rem;
}

.note-container .note-content {
  height: 100%;
  border: none;
  background-color: #f4f4f5;
  font-size: 1rem;
  outline: none;
  padding: 0 24px;
}

.note-content::placeholder {
  color: #d4d4d4;
  font-size: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  min-width: 320px;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e7e5e4;
  font-size: 12px;
  background-color: #f5f5f4;
}

.footer p {
  font-size: 0.75rem;
  position: relative;
}

.footer button {
  position: fixed;
  bottom: 7px;
  right: 3px;
  margin-right: 20px;
  border: none;
  background-color: #f5f5f4;
}

.create-note-button {
  display: none;
}

.create-note-icon {
  margin-right: 10px;
  font-size: 22px;
  color: #eab308;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  right: 50vh;
  width: 250px;
  height: 250px;
  background-color: #fafafa;
}

@media screen and (min-width: 600px){
  .create-note-button {
    display: block;
    border: none;
    border-radius: 8px;
    background-color: #eab308;
    padding: 5px 15px;
    font-size: 1rem;
    margin-right: 30px;
    
  }

  .create-note-icon {
    display: none;
  }

  .login-container {
      align-items: center;
  }
  
  .login-inner-container {
    min-width: 300px;
    padding: 40px 20px;
    border-radius: 8px;
    background-color: #fafafa;
  }

  .register-container {
    align-items: center;
}

  .register-inner-container {
    min-width: 300px;
    padding: 40px 20px;
    border-radius: 8px;
    background-color: #fafafa;
  }

}
/* 

@media screen and (min-width: 500px){

  .login-container {
      align-items: center;
  }
  
  .login-inner-container {
    min-width: 300px;
    padding: 40px 20px;
    border-radius: 8px;
    background-color: #fafafa;
  }

  .register-container {
    align-items: center;
}

  .register-inner-container {
    min-width: 300px;
    padding: 40px 20px;
    border-radius: 8px;
    background-color: #fafafa;
  }

} */